body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.12em;
  --top-offset: 85.66vh;
  --fall-duration: 6.916s;
  --fall-delay: 7.528s;
}
.star:nth-child(2) {
  --star-tail-length: 6.78em;
  --top-offset: 99.59vh;
  --fall-duration: 11.226s;
  --fall-delay: 2.198s;
}
.star:nth-child(3) {
  --star-tail-length: 5.43em;
  --top-offset: 49.63vh;
  --fall-duration: 6.866s;
  --fall-delay: 1.366s;
}
.star:nth-child(4) {
  --star-tail-length: 5.85em;
  --top-offset: 85.46vh;
  --fall-duration: 11.645s;
  --fall-delay: 2.125s;
}
.star:nth-child(5) {
  --star-tail-length: 6.83em;
  --top-offset: 86.65vh;
  --fall-duration: 7.205s;
  --fall-delay: 4.476s;
}
.star:nth-child(6) {
  --star-tail-length: 5.3em;
  --top-offset: 88.82vh;
  --fall-duration: 6.664s;
  --fall-delay: 0.476s;
}
.star:nth-child(7) {
  --star-tail-length: 5.76em;
  --top-offset: 37.86vh;
  --fall-duration: 10.535s;
  --fall-delay: 3.651s;
}
.star:nth-child(8) {
  --star-tail-length: 5.54em;
  --top-offset: 23.22vh;
  --fall-duration: 8.608s;
  --fall-delay: 7.848s;
}
.star:nth-child(9) {
  --star-tail-length: 5.81em;
  --top-offset: 74.24vh;
  --fall-duration: 10.739s;
  --fall-delay: 8.833s;
}
.star:nth-child(10) {
  --star-tail-length: 6.88em;
  --top-offset: 72.12vh;
  --fall-duration: 7.186s;
  --fall-delay: 8.913s;
}
.star:nth-child(11) {
  --star-tail-length: 7.36em;
  --top-offset: 9.85vh;
  --fall-duration: 11.263s;
  --fall-delay: 0.805s;
}
.star:nth-child(12) {
  --star-tail-length: 6.19em;
  --top-offset: 66.38vh;
  --fall-duration: 9.858s;
  --fall-delay: 8.372s;
}
.star:nth-child(13) {
  --star-tail-length: 5.24em;
  --top-offset: 55.32vh;
  --fall-duration: 7.307s;
  --fall-delay: 6.531s;
}
.star:nth-child(14) {
  --star-tail-length: 5.17em;
  --top-offset: 83.93vh;
  --fall-duration: 6.904s;
  --fall-delay: 4.325s;
}
.star:nth-child(15) {
  --star-tail-length: 7.13em;
  --top-offset: 21.11vh;
  --fall-duration: 7.77s;
  --fall-delay: 8.305s;
}
.star:nth-child(16) {
  --star-tail-length: 6.24em;
  --top-offset: 54.74vh;
  --fall-duration: 6.668s;
  --fall-delay: 1.566s;
}
.star:nth-child(17) {
  --star-tail-length: 7.26em;
  --top-offset: 39.54vh;
  --fall-duration: 10.711s;
  --fall-delay: 1.934s;
}
.star:nth-child(18) {
  --star-tail-length: 5.7em;
  --top-offset: 7.81vh;
  --fall-duration: 11.897s;
  --fall-delay: 6.821s;
}
.star:nth-child(19) {
  --star-tail-length: 6.85em;
  --top-offset: 84.05vh;
  --fall-duration: 9.716s;
  --fall-delay: 7.118s;
}
.star:nth-child(20) {
  --star-tail-length: 5.85em;
  --top-offset: 95.58vh;
  --fall-duration: 10.338s;
  --fall-delay: 2.957s;
}
.star:nth-child(21) {
  --star-tail-length: 5.21em;
  --top-offset: 94.52vh;
  --fall-duration: 6.873s;
  --fall-delay: 7.73s;
}
.star:nth-child(22) {
  --star-tail-length: 7.17em;
  --top-offset: 24.3vh;
  --fall-duration: 10.683s;
  --fall-delay: 2.613s;
}
.star:nth-child(23) {
  --star-tail-length: 6.62em;
  --top-offset: 59.65vh;
  --fall-duration: 8.366s;
  --fall-delay: 7.744s;
}
.star:nth-child(24) {
  --star-tail-length: 6.96em;
  --top-offset: 40.22vh;
  --fall-duration: 6.566s;
  --fall-delay: 1.489s;
}
.star:nth-child(25) {
  --star-tail-length: 6.92em;
  --top-offset: 50.28vh;
  --fall-duration: 11.699s;
  --fall-delay: 1.501s;
}
.star:nth-child(26) {
  --star-tail-length: 5.53em;
  --top-offset: 95.26vh;
  --fall-duration: 8.196s;
  --fall-delay: 1.535s;
}
.star:nth-child(27) {
  --star-tail-length: 6.22em;
  --top-offset: 66.93vh;
  --fall-duration: 8.376s;
  --fall-delay: 0.404s;
}
.star:nth-child(28) {
  --star-tail-length: 6.91em;
  --top-offset: 20.43vh;
  --fall-duration: 9.179s;
  --fall-delay: 9.986s;
}
.star:nth-child(29) {
  --star-tail-length: 5.08em;
  --top-offset: 82.21vh;
  --fall-duration: 9.36s;
  --fall-delay: 9.126s;
}
.star:nth-child(30) {
  --star-tail-length: 7.06em;
  --top-offset: 68vh;
  --fall-duration: 8.74s;
  --fall-delay: 7.599s;
}
.star:nth-child(31) {
  --star-tail-length: 7em;
  --top-offset: 77.91vh;
  --fall-duration: 10.443s;
  --fall-delay: 6.503s;
}
.star:nth-child(32) {
  --star-tail-length: 5.65em;
  --top-offset: 93.13vh;
  --fall-duration: 7.247s;
  --fall-delay: 0.827s;
}
.star:nth-child(33) {
  --star-tail-length: 5.36em;
  --top-offset: 12.48vh;
  --fall-duration: 8.898s;
  --fall-delay: 1.515s;
}
.star:nth-child(34) {
  --star-tail-length: 5.47em;
  --top-offset: 63.08vh;
  --fall-duration: 10.689s;
  --fall-delay: 3.204s;
}
.star:nth-child(35) {
  --star-tail-length: 6.01em;
  --top-offset: 21.53vh;
  --fall-duration: 10.195s;
  --fall-delay: 0.69s;
}
.star:nth-child(36) {
  --star-tail-length: 5.9em;
  --top-offset: 72.28vh;
  --fall-duration: 11.317s;
  --fall-delay: 7.77s;
}
.star:nth-child(37) {
  --star-tail-length: 6.61em;
  --top-offset: 11.17vh;
  --fall-duration: 6.652s;
  --fall-delay: 6.443s;
}
.star:nth-child(38) {
  --star-tail-length: 6.8em;
  --top-offset: 80.32vh;
  --fall-duration: 6.378s;
  --fall-delay: 9.565s;
}
.star:nth-child(39) {
  --star-tail-length: 7.45em;
  --top-offset: 83.21vh;
  --fall-duration: 8.546s;
  --fall-delay: 1.677s;
}
.star:nth-child(40) {
  --star-tail-length: 6.38em;
  --top-offset: 61.66vh;
  --fall-duration: 9.637s;
  --fall-delay: 7.859s;
}
.star:nth-child(41) {
  --star-tail-length: 5.54em;
  --top-offset: 38vh;
  --fall-duration: 10.123s;
  --fall-delay: 0.513s;
}
.star:nth-child(42) {
  --star-tail-length: 7.21em;
  --top-offset: 36.8vh;
  --fall-duration: 8.222s;
  --fall-delay: 5.908s;
}
.star:nth-child(43) {
  --star-tail-length: 6.36em;
  --top-offset: 40.45vh;
  --fall-duration: 7.802s;
  --fall-delay: 2.993s;
}
.star:nth-child(44) {
  --star-tail-length: 7.08em;
  --top-offset: 39.35vh;
  --fall-duration: 11.724s;
  --fall-delay: 4.407s;
}
.star:nth-child(45) {
  --star-tail-length: 6.53em;
  --top-offset: 74.74vh;
  --fall-duration: 11.955s;
  --fall-delay: 8.787s;
}
.star:nth-child(46) {
  --star-tail-length: 7.44em;
  --top-offset: 87.4vh;
  --fall-duration: 10.835s;
  --fall-delay: 5.849s;
}
.star:nth-child(47) {
  --star-tail-length: 6.54em;
  --top-offset: 81.93vh;
  --fall-duration: 6.317s;
  --fall-delay: 9.274s;
}
.star:nth-child(48) {
  --star-tail-length: 5.2em;
  --top-offset: 7.65vh;
  --fall-duration: 11.441s;
  --fall-delay: 7.887s;
}
.star:nth-child(49) {
  --star-tail-length: 6.36em;
  --top-offset: 93.32vh;
  --fall-duration: 9.768s;
  --fall-delay: 2.274s;
}
.star:nth-child(50) {
  --star-tail-length: 5.85em;
  --top-offset: 75.42vh;
  --fall-duration: 8.554s;
  --fall-delay: 9.108s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}