body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #92a8d1 0%, #0c0d13 100%);
  overflow: hidden;
}
body .stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
body .stars .star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-lenght)/6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
}