body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.items .item {
  position: absolute;
  left: 50%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 0.25;
  margin-left: -100px;
  transition: transform 1s, opacity 1s;
}
.items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.items .item.active {
  opacity: 1;
  box-shadow: 0 0 105px -35px rgba(0, 0, 0, 0.75);
}
.items .item.prev {
  cursor: pointer;
  transform: translateX(-220px);
}
.items .item.next {
  z-index: 2;
  opacity: 0.25;
  cursor: pointer;
  transform: translateX(220px);
}
.items .swipe {
  width: 270px;
  height: 200px;
  position: absolute;
  background-color: green;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}
.items .button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}
.items .button-container .button:hover {
  opacity: 1;
}
.items .button-container .button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -99;
}
.items .button-container .button:nth-child(1) {
  float: left;
}
.items .button-container .button:nth-child(2) {
  float: right;
}