body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    overflow-x: hidden;
}

.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //user-select: none;

    .item {
        position: absolute;
        //top: 50%;
        left: 50%;
       // transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        //overflow: hidden;
        //transition: all 300ms ease-in-out;
        //z-index: -1;
        //opacity: 0;
        opacity: .25;
        margin-left: -100px;
        transition: transform 1s, opacity 1s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.active {
            //모든 item들에게 opacity=0을 주고, 가운데 오는 active를 1로 줘서 보이게 함
            opacity: 1;
            //z-index: 99;
            box-shadow: 0 0 105px -35px rgba(0, 0, 0, 0.75);
        }

        &.prev {
            //prev와 next는 active 양 옆에 보이게 z-index:2;를 줌
            //z-index: 2;
            //opacity: 0.25;
            //translate로 위치 잡아줌
            //transform: translate(-125%, -50%);
            cursor: pointer;
            transform: translateX(-220px);
        }

        &.next {
            z-index: 2;
            opacity: 0.25;
            //transform: translate(25%, -50%);
            cursor: pointer;
            transform: translateX(220px);
        }
    }

    .swipe {
        width: 270px;
        height: 200px;
        position: absolute;
        background-color: green;
        border-radius: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
      }

    .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        z-index: 100;

        .button {
            color: #fff;
            font-size: 32px;
            cursor: pointer;
            position: relative;
            opacity: 0.75;
            transition: all 300ms ease-in-out;

            &:hover {
                opacity: 1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                z-index: -99;
            }

            &:nth-child(1) {
                float: left;
            }

            &:nth-child(2) {
                float: right;
            }
        }
    }
}